@model IEnumerable<Loppuprojekti_MVC.Models.CountrySpecies>
@*@model IEnumerable<Loppuprojekti_MVC.Models.CountryList>*@

@{
    ViewData["Title"] = "Country";
}
<h1>List of all threatened species in @ViewBag.C</h1>


    @Html.ActionLink("Extinct", "EXSpecies") |
    @Html.ActionLink("Extinct in the wild", "EWSpecies") |
    @Html.ActionLink("Critically Endangered", "CRSpecies") |
    @Html.ActionLink("Endangered", "ENSpecies") |
    @Html.ActionLink("Vulnerable", "VUSpecies") |




@foreach (var s in Model)
    {
        <ul>
            @s.ScientificName
        </ul>
    }

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsoCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsoCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                </tr>
            }
        </tbody>
    </table>*@



