@model IEnumerable<Loppuprojekti_MVC.Models.CountrySpecies>
@*@model IEnumerable<Loppuprojekti_MVC.Models.CountryList>*@

@{
    ViewData["Title"] = "Country";
    ViewBag.Title = "Country";
    string en = ViewBag.EN;
}
<h1>List of all threatened species in @ViewBag.C</h1>


    @Html.ActionLink("Extinct", "EXSpecies") |
    @Html.ActionLink("Extinct in the wild", "EWSpecies") |
    @Html.ActionLink("Critically Endangered", "CRSpecies") |
    @Html.ActionLink("Endangered", "ENSpecies") |
    @Html.ActionLink("Vulnerable", "VUSpecies") |

    @*@foreach (var item in en)
    {
    @Html.ActionLink("Endangered", "ENSpecies", new { country = item.ToString() })
    }*@

@foreach (var s in Model)
    {
<ul>

    @Html.ActionLink(s.ScientificName, "SingleSpecies", "Species", new { searchTerms = s.ScientificName })

</ul>
    }




