@*@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;

@inject IViewLocalizer Localizer*@

@model IEnumerable<Loppuprojekti_MVC.Models.CountryList>
@{
    ViewBag.Title = "Country";
    string letters = ViewBag.Letters;
    <br />
}

<h1>Countries</h1>
<br />

@if (!string.IsNullOrEmpty(letters))
{
    foreach (var c in letters)
    {
        @Html.ActionLink(c.ToString().ToUpper(), "CountryIndex", new { firstLetter = c.ToString() })

        @: &nbsp;
    }
}
<br />
<p>
    <br />
</p>
@foreach (var s in Model)
{
    <ul>
        <tr>
            <td>@Html.ActionLink(s.Country,"Country", new { country = s.IsoCode })</td>

            @*<td>@Html.DisplayFor(modelItem => s.Country)</td>

            <td>@Html.ActionLink("Details", "Country", new { country = s.IsoCode })</td>*@
        </tr>

    </ul>
}

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsoCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsoCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
