@model IEnumerable<Loppuprojekti_MVC.Models.SpeciesCategory>

@using Loppuprojekti_MVC.Models;

@{
    ViewData["Title"] = "SCategory";
    ViewBag.Title = "SCategory";
    //string letters = ViewBag.Letters;
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead"> </p>
        <p class="lead"> </p>
        <h1 class="display-4">@ViewBag.ST species</h1>
        <p class="lead">@ViewBag.DS</p>
        <p class="lead"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></p>
    </div>
</div>



@*<h1>Species in category</h1>*@

@foreach (var s in Model)
{
    @*<ul><i>@s.ScientificName</i>, classified as @s.Category</ul>*@

    <ul class="co">
        @Html.ActionLink(s.ScientificName, "SingleSpecies", "Species", new { searchTerms = s.ScientificName })
    </ul>
}
<br />
<br />
