@model Loppuprojekti_MVC.Models.IndividualSpecies

@using Loppuprojekti_MVC.Models;

@{
    ViewData["Title"] = "SingleSpecies";
}

<h1>Species information</h1>

<div>
    <h4>@Html.DisplayFor(model => model.MainCommonName)</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Taxonid)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Taxonid)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScientificName)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KingdomName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.KingdomName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhylumName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhylumName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClassName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClassName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FamilyName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FamilyName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GenusName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GenusName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MainCommonName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MainCommonName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Authority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Authority)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishedYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Criteria)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Criteria)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PopulationTrend)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PopulationTrend)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarineSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarineSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FreshwaterSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FreshwaterSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TerrestrialSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TerrestrialSystem)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Assessor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Assessor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reviewer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reviewer)
            </dd>*@
    </dl>
</div>

<div>
@Html.ActionLink( linkText: "Narrative and information",
    actionName:"SingleNarrative",
    controllerName: "Species",
    routeValues: new { searchTerms = Model.ScientificName },
    htmlAttributes: null)
</div>

@*@Html.ActionLink( linkText: "Narrative and information",
    actionName:"SingleNarrative",
    controllerName: "Species",
    htmlAttributes: null)*@

@*<div>
        <a asp-action="Index">Back to Home page</a>
    </div>
    <div>
        @Html.ActionLink("Back to Home", "Home", "Index")
    </div>*@
