@model IEnumerable<Loppuprojekti_MVC.Models.Species>

@using Loppuprojekti_MVC.Models;

@{
    ViewData["Title"] = "SpeciesIndex";
}

<h1>All threatened Species: </h1> 

@foreach (var s in Model)
{
    @*<ul><i>@s.ScientificName</i>, classified as @s.Category</ul>*@

    <ul>
        <i>
            @Html.ActionLink(s.ScientificName, "SingleSpecies", "Species", new { searchTerms = s.ScientificName })
            ,
        </i> classified as @s.Category
        </ul>
            }



<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
